In [2]:
# Dependencies
# ----------------------------------
# Imports the method used for connecting to DBs
from sqlalchemy import create_engine, Column, Integer, String, Float, ForeignKey

# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.declarative import declarative_base

In [3]:
# Sets an object to utilize the default declarative base in SQL Alchemy
Base = declarative_base()

# Creates Classes which will serve as the anchor points for our Tables
class Wild_Life(Base):
    __tablename__ = "Wild_Life"
    id = Column(Integer, primary_key=True)
    iucn = Column(String(255))
    spec = Column(String(255))
    cou = Column(String(255))
    value = Column(String(255))

In [4]:
# Create Database Connection
# ----------------------------------
# Creates a connection to our DB
engine = create_engine("sqlite:///test.sqlite")
conn = engine.connect()

In [5]:
# Create a "Metadata" Layer That Abstracts our SQL Database
# ----------------------------------
# Create (if not already in existence) the tables associated with our classes.
Base.metadata.create_all(engine)

# Use this to clear out the db
# ----------------------------------
# Base.metadata.drop_all(engine)

In [6]:
# Create a Session Object to Connect to DB
# ----------------------------------
# Session is a temporary binding to our DB
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [7]:
import pandas as pd

In [37]:
df = pd.read_csv("Resources/simplified_endangered.csv")
df.head()

  LOCATION   INDICATOR SUBJECT     MEASURE FREQUENCY  TIME   Value  Flag Codes
0      AUS  THREATENED    BIRD  PC_SPECIES         A  2015  16.835         NaN
1      AUS  THREATENED  MAMMAL  PC_SPECIES         A  2015  27.114         NaN
2      AUS  THREATENED   PLANT  PC_SPECIES         A  2015   6.580         NaN
3      AUT  THREATENED    BIRD  PC_SPECIES         A  2015  27.273         NaN
4      AUT  THREATENED  MAMMAL  PC_SPECIES         A  2015  26.733         NaN

In [40]:
df.to_json(r'Resources/simplified.json')