In [19]:
# Dependencies
# ----------------------------------
# Imports the method used for connecting to DBs
from sqlalchemy import create_engine, Column, Integer, String, Float, ForeignKey

# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.declarative import declarative_base

In [20]:
# Sets an object to utilize the default declarative base in SQL Alchemy
Base = declarative_base()

# Creates Classes which will serve as the anchor points for our Tables
class Wild_Life(Base):
    __tablename__ = "Wild_Life"
    id = Column(Integer, primary_key=True)
    iucn = Column(String(255))
    spec = Column(String(255))
    cou = Column(String(255))
    value = Column(String(255))

In [21]:
# Create Database Connection
# ----------------------------------
# Creates a connection to our DB
engine = create_engine("sqlite:///test.sqlite")
conn = engine.connect()

In [22]:
# Create a "Metadata" Layer That Abstracts our SQL Database
# ----------------------------------
# Create (if not already in existence) the tables associated with our classes.
Base.metadata.create_all(engine)

# Use this to clear out the db
# ----------------------------------
# Base.metadata.drop_all(engine)

In [23]:
# Create a Session Object to Connect to DB
# ----------------------------------
# Session is a temporary binding to our DB
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [24]:
import pandas as pd

In [25]:
df = pd.read_csv("Resources/WILD_LIFE.csv")
df.head()

  alpha3    SPEC        IUCN  Value
0    AUS  MAMMAL   TOT_KNOWN  402.0
1    AUS  MAMMAL  ENDANGERED   37.0
2    AUS  MAMMAL    CRITICAL    5.0
3    AUS  MAMMAL  VULNERABLE   67.0
4    AUS  MAMMAL  THREATENED  109.0

In [26]:
df_endangered=df.iloc[["1"]]
df_endangered

  alpha3    SPEC        IUCN  Value
1    AUS  MAMMAL  ENDANGERED   37.0

In [27]:
df_endangered.to_json (r'Resources/df_endangered.json')

In [28]:
df_critical=df.iloc[["2"]]
df_critical

  alpha3    SPEC      IUCN  Value
2    AUS  MAMMAL  CRITICAL    5.0

In [29]:
df_critical.to_json (r'Resources/df_critical.json')

In [30]:
df_vulnerable = df.iloc[["3"]]
df_vulnerable

  alpha3    SPEC        IUCN  Value
3    AUS  MAMMAL  VULNERABLE   67.0

In [31]:
df_vulnerable.to_json (r'Resources/df_vulnerable.json')

In [32]:
df_threatened = df.iloc[["4"]]
df_threatened

  alpha3    SPEC        IUCN  Value
4    AUS  MAMMAL  THREATENED  109.0

In [33]:
df_threatened.to_json (r'Resources/df_threatened.json')

In [16]:
for x in df.itertuples(index = False,name = None):
    print(x)
    session.add(x)
#session.commit()

('AUS', 'MAMMAL', 'TOT_KNOWN', 402.0)

UnmappedInstanceError: Class 'builtins.tuple' is not mapped